.TodoInsert {
  button {
    background: none;
    outline: none;
    border: none;
    border-radius: 6px;
    background: #868e96;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.7rem;
    display: center;
    width: 325px;
    height: 45px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.1s background ease-in;
    &:hover {
      background: #adb5bd;
    }
  }
}
